@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
:root{
    --Inter: 'Inter', sans-serif;
    --Lexend-Deca: 'Lexend Deca', sans-serif;
    --main-background-color: hsl(233, 47%, 7%);
    --card-background-color: hsl(244, 38%, 16%);
    --accent-color: hsl(277, 64%, 61%);
    --main-heading-stats-color: hsl(0, 0%, 100%);
    --main-paragraph-color: hsla(0, 0%, 100%, 0.7);
    --stat-headings-color: hsla(0, 0%, 100%, 0.6);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    background-color: var(--main-background-color);
    color: var(--main-heading-stats-color);
    font-family: var(--Inter);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*letter-spacing: 1px;*/
}
.card{
    max-width: 900px;
    background-color: var(--card-background-color);
    border-radius: 8px;
    display: flex;
    direction: rtl;
}
.card-info{
    padding: 52px 75px 52px 52px;
    width: 50%;
    direction: ltr;
    /*display: flex;
    flex-direction:  column;*/
}
.card-title{
    margin-bottom: 24px;
    font-weight: 700;
}
.accent{
    color: var(--accent-color);
}
P{
    margin-bottom: 24px;
    color: var(--main-paragraph-color);
    font-family: var(--Inter);
    line-height: 24px;
    /*letter-spacing: 1px;*/
}
.card-footer{
    display: flex;
    /*justify-content: space-between;*/
    gap: 36px;
    color: var(--main-paragraph-color);
    padding-top: 36px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.cnt{
    font-size: 18px;
    font-weight: 700;
    color: var(--main-heading-stats-color);
    line-height: 1cm;
}
.header-img{
    position: relative;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background: url(images/image-header-desktop.jpg) no-repeat ;
    width: 50%;
}
.header-img-overlay/*.header-img div*/{
    background: hsla(277, 100%, 32%, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
@media screen and (max-width:480px){
    .card{
        width:100%;
        margin: 24px;
        display: flex;
        flex-direction: column;
    }
    .card-info{
        width:100%;
        text-align: center;
        padding: 36px 52px 36px 36px;
    }
    .card-footer{
        display: flex;
        flex-direction: column;
    }
    .header-img{
        width:100%;
        border-bottom-right-radius: unset;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        background: url(images/image-header-mobile.jpg) no-repeat;
        background-size: cover;
        height: 220px;
    }
    .cnt{
        font-size: 24px;
    }
    .header-img div{
        border-bottom-right-radius: unset;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }
}